html, body {
    background: #191919;
    font: normal 1em 'Arial', sans-serif;
    color: #DDD;
    margin: 0;
    padding: 0;
}

@import './normalizer/title';
@import './normalizer/form';

a {
    color: #34968C;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: #54CEC2;
        text-decoration: underline;
    }
}
