html, body {
    background: #191919;
    font: normal 1em 'Arial', sans-serif;
    color: #DDD;
    margin: 0;
    padding: 0;
}

@import
    './aside',
    './collapse',
    './fas',
    './form',
    './link',
    './list',
    './main',
    './section',
    './time',
    './title'
;
