main {
    max-width: 750px;

    @include mMobile {
        margin: 100px 5px 0 5px;
    }
    @include mPc {
        margin: 10px 0 0 250px;
    }
    @media (min-width: 1270px) {
        margin: 10px auto 0;
    }
}
