article {
    @include mMobile {
        margin: 10px 0;
    }
    @include mPc {
        margin: 10px;
    }
}
section {
    @include mMobile {
        margin: 20px 0;
    }
    @include mPc {
        margin: 20px;
    }
}

article, section {
    header {
        margin-bottom: 7px;
    }
}
