h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #FFF;
    margin: 0;
    padding: 0;
}
h1 {
    color: #61D63E;
    font-size: 24px;
    text-transform: uppercase;
}
h2, h3, h4, h5, h6 {
    color: #3ED65C;
    font-variant: small-caps;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4, h5, h6 {
    font-size: 16px;
}